<div class="index-advantages">
    <div class="container">
      <div class="d-flex">
        <div class="index-advantages_image">
          <img src="../../assets/advantage-1.svg" alt="" />
        </div>
        <div class="index-advantages_text">13 лет <br />работы</div>
  
        <div class="index-advantages_image">
          <img src="../../assets/advantage-2.svg" alt="" />
        </div>
        <div class="index-advantages_text">Доставка от <br />30 минут</div>
  
        <div class="index-advantages_image">
          <img src="../../assets/advantage-3.svg" alt="" />
        </div>
        <div class="index-advantages_text">Гарантия<br />свежести</div>
  
        <div class="index-advantages_image">
          <img src="../../assets/advantage-4.svg" alt="" />
        </div>
        <div class="index-advantages_text">
          Фото букета<br />перед<br />доставкой
        </div>
      </div>
    </div>
  </div>