<footer>
  <div class="border-top border-bottom" style="margin: 0 0 35px 0">
    <div class="container">
      <div class="row a-i-center">
        <div class="col">
          <a class="disable-hover-border" href="/">
            <img src="../../../assets/logo.svg" />
          </a>
        </div>
        <div class="col">МЫ ПРЕДЛАГАЕМ</div>
        <div class="col">ИНФОРМАЦИЯ</div>
        <div class="col">КОНТАКТЫ</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <section class="mb-4 d-flex" style="padding: 0 0 30px 0">
          <img src="../../../assets/instagram.svg" />
          <img src="../../../assets/twitter.svg" />
          <img src="../../../assets/google.svg" />
        </section>
        <div class="d-flex justify-content-between">
          <div class="masterCard"></div>
          <div class="visa"></div>
          <div class="mir"></div>
          <div class="Apay"></div>
          <div class="Gpay"></div>
        </div>
        <div style="padding: 38px 0 0 0">© 2008-2022 г. "Цветков-Тула"</div>
        <p class="p-description">
          Прием заявок ведется без обеденного перерыва и выходных дней с 8:00 до
          23:00
        </p>
      </div>
      <div class="col">
        <p>
          <a class="nav-link" routerLink="/catalog/rose"> Розы</a>
        </p>
        <p>
          <a class="nav-link" routerLink="/catalog/all">Цветы</a>
        </p>
        <p>
          <a class="nav-link" routerLink="/catalog/bouquet">Букеты</a>
        </p>
        <p>
          <a class="nav-link" routerLink="/catalog/basket">Корзины</a>
        </p>
        <p>
          <a class="nav-link" routerLink="/catalog/composition">Композиции</a>
        </p>
        <p>
          <a class="nav-link" href="javascript:void(0);">Подарки</a>
        </p>
      </div>
      <div class="col">
        <p>
          <a href="home" class="nav-link">О нас</a>
        </p>
        <p>
          <a href="javascript:void(0);" class="nav-link">Фотогаллерея</a>
        </p>
        <p>
          <a href="reviews" class="nav-link">Отзывы</a>
        </p>
        <p>
          <a href="delivery" class="nav-link">Доставка и оплата</a>
        </p>
        <p>
          <a href="javascript:void(0);" class="nav-link">Новости</a>
        </p>
        <p>
          <a href="javascript:void(0);" class="nav-link">Статьи</a>
        </p>
        <p>
          <a href="contact" class="nav-link">Контакты</a>
        </p>
      </div>
      <div class="col">
        <div class="footer__contact">
          <a class="nav-link disable-hover-border" href="tel:89066241707">
            <img src="../../../assets/call.svg" />
            Флорист:
            <span> 8 (906)624 17 07</span>
          </a>
        </div>
        <div class="footer__contact">
          <a class="nav-link disable-hover-border" href="tel:89066241707">
            <img src="../../../assets/call.svg" />
            Доставка: <span> 8 (906)624 17 07</span></a
          >
        </div>
        <div class="footer__contact">
          <a
            class="nav-link disable-hover-border"
            href="mailto: bekirov.nik@mail.ru"
          >
            <img src="../../../assets/email.svg" />
            bekirov.nik@mail.ru</a
          >
        </div>
        <div class="footer__contact">
          <p>
            <img src="../../../assets/time.svg" />
            Пн. - вс. с 8:00 до 23:00
          </p>
        </div>
        <br />
        <button
          class="footer__call"
          data-toggle="modal"
          data-target="#form-modal"
        >
          Заказать звонок
        </button>
      </div>
    </div>
  </div>
</footer>
