<div class="bg-dark">
  <nav class="navbar container navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="about">О нас</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Фотогаллерея</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="reviews">Отзывы</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Доставка и оплата</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="contact">Контакты</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>
<div class="header__phones" style="text-align: center">
  <div class="header__phone-list">
    <img
      src="https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/logo.svg"
    />
    <div class="header__phone">
      <span>Флорист: </span><a href="tel:89066241707"> 8 (906)624 17 07</a>
    </div>
    <div class="header__phone">
      <span>Достака: </span><a href="tel:89066241707"> 8 (906)624 17 07</a>
    </div>
  </div>
</div>
<div class="bg-light">
  <nav class="navbar container navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="card"> Розы</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="catalog">Цветы</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="card">Букеты</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Корзины</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="top-list">Композиции</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Подарки
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Мягкие игрушки</a>
            <a class="dropdown-item" href="#">Шары</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
