<div class="container">
  <a class="nav-link" href="/"> Главная</a><span> / О нас</span>
  <div class="page_title">
    <h1>О нас</h1>
  </div>
  <div class="about_text">
    Компания “Цветков” была основана в 2008 году. "Цветков" - компания по
    продаже цветов и подарков. Мы предоставляем сегодня своим клиентам широкий
    круг услуг на самом высоком уровне. Коллектив "Цветков" - команда
    профессионалов, специалисты, каждый из которых грамотно и ответственно
    делает свое дело: флорист внимательно выслушает Вас, порекомендует то, что
    наиболее подходит к каждому определенному событию, примет у Вас заказ и
    организуют доставку к оговоренному сроку. Флористы поработают над тем, чтобы
    заказанный Вами букет, корзина или композиция полностью отвечали Вашему
    запросу, Служба доставки берет на себя ответственность доставить Ваш заказ в
    срок, к назначенному времени. С момента основания мы уже доставили свыше 30
    000 заказов по Туле и Тульской области.
  </div>
  <div class="about_indicators">
    <div class="about_indicators_row">
      <div class="about_indicators_col">
        <div class="about_indicators_value">35</div>

        <div class="about_indicators_name">
          ТЫСЯЧ
          <br />
          ЗАКАЗОВ
        </div>
      </div>

      <div class="about_indicators_col">
        <div class="about_indicators_value">80%</div>

        <div class="about_indicators_name">
          ПОСТОЯННЫХ
          <br />
          ПОКУПАТЕЛЕЙ
        </div>
      </div>

      <div class="about_indicators_col">
        <div class="about_indicators_value">13</div>
        <div class="about_indicators_name">
          ЛЕТ НА
          <br />
          РЫНКЕ
        </div>
      </div>
    </div>
  </div>
  <div class="about_text">
    Мы доставляем по Туле, Тульской области и в близлежащие города. Доставка –
    это наша гордость. Курьеры доставят ваш букет точно в срок, учтут все
    пожелания и отнесутся с максимальной ответственностью к каждому заказу, а
    также будут держать вас в курсе, где находится заказ и обязательно ответят
    на все интересующие вопросы. После доставки с вами свяжется курьер и
    расскажет, как прошло вручение цветов, а по желанию вышлет фотографию
    момента вручения.
  </div>
  <div class="about_tile">
    <div
      class="about_tile-image-1"
      style="background-image: url(../../../assets/about-tile-1.png)"
    ></div>

    <div
      class="about_tile-image-2"
      style="background-image: url(../../../assets/about-tile-2.png)"
    ></div>

    <div class="about_tile-text about__tile-text-1">
      <div class="about_tile-title">Как заказать у нас цветы</div>

      Все просто!

      <br />

      Позвоните нам и мы примем ваш заказ. Нет возможности позвонить, закажите
      обратный звонок и мы свяжемся с Вам в течении 10 минут.
    </div>

    <div
      class="about_tile-image-3"
      style="background-image: url(../../../assets/about-tile-3.png)"
    ></div>

    <div class="about_tile-text about_tile-text-2">
      <div class="about_tile-title">Вы можете увидеть фото вашего букета</div>

      Для вашего спокойствия мы предоставляем услугу фото отправляемого букета,
      наш флорист сделает фотографию собранного букета и мы вышлем ее вам.
    </div>

    <div
      class="about_tile-image-4"
      style="background-image: url(../../../assets/about-tile-4.png)"
    ></div>
  </div>
  <app-advantages-image></app-advantages-image>
  <div class="about_description">
    <div class="about_description-inner">
        <div class="about_description-title">Нам можно доверять</div>
        <div class="about_description-text">
            <p>Мы гарантируем, что ваш заказ будет доставлен точно в срок, ваши деньги никуда не пропадут, с вас не будет взяты какие-либо дополнительные комиссии, вы получите именно тот букет или композицию, которую видите на фотографии. В случае если у нас нет в наличии какого-либо товара, замена производится только с вашего согласия.</p>
            <p>Заказывая у нас, вы полностью можете быть уверены, что ваш заказ будет у адресата точно в срок.</p>
        </div>
    </div>
</div>
</div>
