<div class="container">
  <a href="/"><span> Главная \ Контакты</span></a>
  <div class="page_title">
    <h1>Контакты</h1>
  </div>
  <div class="wrapper one">
    <div>
      <img src="../../assets/location.svg" />
      Адрес:<br />пр. Ленина, д. 54 б Тула
    </div>
    <div>
      <img src="../../assets/time.svg" />
      Режим работы:<br />c 8:00 до 23:00
    </div>
    <div>
      <img src="../../assets/call.svg" />
      Телефон: <br />
      <span>Флорист: </span><a href="tel:89066241707">8 (906)624 17 07</a><br />
      <span>Доставка: </span><a href="tel:89066241707">8 (906)624 17 07</a>
    </div>
    <div>
      <img src="../../assets/email.svg" />
      E-mail: <br />
      <a href="mailto: bekirov.nik@mail.ru">bekirov.nik@mail.ru</a>
    </div>
  </div>

  <div class="feedback">Обратная связь</div>
  <div class="wrapper two">
    <div>
      Имя<br /><label class="name"><input placeholder="Ваше имя" /></label>
    </div>
    <div>
      Сообщение<br /><label class="message"
        ><input placeholder="Написать сообщение"
      /></label>
    </div>
    <div>
      E-mail:<br /><label class="email"
        ><input placeholder="Ваша эл. почта"
      /></label>
    </div>
  </div>
  <p></p>
  <div class="checkbox">
    <input type="checkbox" /> Я согласен на обработку моих
    <a class="personal_data" href="">персональных данных</a>
  </div>
  <br />
  <div>
    <button type="submit">
      Отправить
      <img src="../../assets/button_right.svg" />
    </button>
  </div>
  <br />
  <app-maps></app-maps>
  <div class="wrapper three">
    <div class="contacts_bottom-data">
      <div class="contacts_bottom-title">Юридическая информация</div>
      <p>ИП Илюшечкин А.Е.</p>
      <p>Свидетельство о гос. регистрации № 308715425400040</p>
      <p>Выдано 10.09.2008 г. Илюшечкину Александру Евгеньевичу.</p>
    </div>
  </div>
  <div class="img_title">Наш магазин</div>

  <div class="wrapper four">
    <a
      style="
        grid-area: 1/1/3/3;
        background: url(../../assets/contact1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 1/3/2/4;
        background: url(../../assets/contact2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 1/4/2/5;
        background: url(../../assets/contact3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 2/3/3/5;
        background: url(../../assets/contact4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
  </div>
</div>
