a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  &:hover {
    border-bottom: 1px solid;
  }
  &.disable-hover-border {
    border: none;
  }
}

.a-i-center {
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color: #333333;
}
