<div class="container">
  <a href="/"><span> Главная \ Контакты</span></a>
  <div>
    <h1>Контакты</h1>
  </div>
  <div class="wrapper one">
    <div>Адрес:<br />пр. Ленина, д. 54 б Тула</div>
    <div>Режим работы:<br />c 8:00 до 23:00</div>
    <div>
      Телефон: <br />
      <a href="tel:89066241707">Флорист: 8 (906)624 17 07</a><br />
      <a href="tel:89066241707">Доставка: 8 (906)624 17 07</a>
    </div>
    <div>
      E-mail: <br />
      <a href="mailto: bekirov.nik@mail.ru">bekirov.nik@mail.ru</a>
    </div>
  </div>
  <h1>Обратная связь</h1>
  <div class="wrapper two">
    <div>Имя<br /><input /></div>
    <div>Сообщение<br /><input /></div>
    <div>E-mail:<br /><input /></div>
  </div>
  <p></p>
  <div>
    <input type="checkbox" />Я согласен на обработку моих персональных данных
  </div>
  <br />
  <div><button type="submit">Отправить ></button></div>
  <br />
  <app-maps></app-maps>
  <div class="wrapper three">
    
    <div>
      <h2>ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</h2>
    </div>
    <div>
      ИП Илюшечкин А.Е. Свидетельство о гос. регистрации № 308715425400040
      Выдано 10.09.2008 г. Илюшечкину Александру Евгеньевичу.
    </div>
  </div>

  <h1>Наш магазин</h1>
  <div class="wrapper four">
    <a
      style="
        grid-area: 1/1/3/3;
        background: url(https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/about/about-img-1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 1/3/2/4;
        background: url(https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/about/about-img-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 1/4/2/5;
        background: url(https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/about/about-img-3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
    <a
      style="
        grid-area: 2/3/3/5;
        background: url(https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/about/about-img-4.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    ></a>
  </div>
</div>
