.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.wrapper1 {
    display: grid;
    grid-template-columns: 25% 25%;
}
.wrapper2 {
    text-align: left;
    display: grid;
    grid-template-columns: 40% ;
}
// hover