<div class="container">
  <a href="/"><span> Главная \ Контакты</span></a>
  <div>
    <h1>Контакты</h1>
  </div>
  <div class="wrapper">
    <div>Адрес:<br>пр. Ленина, д. 54 б Тула</div>
    <div>Режим работы:<br>c 8:00 до 23:00</div>
    <div>
      Телефон: <br>
      <a href="tel:89066241707">Флорист: 8 (906)624 17 07</a><br>
      <a href="tel:89066241707">Доставка: 8 (906)624 17 07</a>
    </div>
    <div>
      E-mail: <br> <a href="mailto: bekirov.nik@mail.ru">bekirov.nik@mail.ru</a>
    </div>
  </div>
  <h1>Обратная связь</h1>
  <div class="wrapper1">
    <div>Имя<br><input></div>
    <div>Сообщение<br><input></div>
    <div>E-mail:<br><input></div>
  </div>
  <p>
  <div><input type="checkbox" />Я согласен на обработку моих
    персональных данных</div>
  <div><button type="submit">Отправить ></button></div>
  <div class="wrapper2">
    <app-maps></app-maps>
    <div>
      <h2>ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</h2>
    </div>
    <div>
      ИП Илюшечкин А.Е. Свидетельство о гос. регистрации № 308715425400040 Выдано
      10.09.2008 г. Илюшечкину Александру Евгеньевичу.
    </div>
  </div>

  <h1>Наш магазин</h1>
  <img src="https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/logo.svg" />

</div>