<div class="container">
  <a href="/"><span> Главная \ Контакты</span></a>
  <div><h1>Контакты</h1></div>
  <div>Адрес: пр. Ленина, д. 54 б Тула</div>
  <div>
    Телефон: <br />
    <a href="tel:89066241707"> 8 (906)624 17 07</a><br />
    <a href="tel:89066241707"> 8 (906)624 17 07</a>
  </div>
  <div>
    E-mail: <a href="mailto: bekirov.nik@mail.ru"> bekirov.nik@mail.ru</a>
  </div>
  <h1>Обратная связь</h1>
  <span>Имя <input /></span> <br /><br />
  <span>E-mail <input /></span><br /><br />
  <label class="label label-primary"
    ><input type="checkbox" /> Я согласен на обработку моих
    <a>персональных данных</a></label
  ><br />
  <span>Сообщение <input /></span><br /><br />
  <button type="submit">Отправить ></button>
  <h1>ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</h1>
  <div>
    ИП Илюшечкин А.Е. Свидетельство о гос. регистрации № 308715425400040 Выдано
    10.09.2008 г. Илюшечкину Александру Евгеньевичу.
  </div>
  <h1>Наш магазин</h1>
  <img
      src="https://www.cvetkov-tula.ru/local/templates/main/static/assets/images/logo.svg"
    />
    <app-maps>
    <div class="container">
      <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
        <ya-placemark [geometry]="[55.751952, 37.600739]"></ya-placemark>
      </ya-map>
    </div></app-maps>
</div>
