<div class="container">
  <a class="nav-link" id="link" href="home">Главная</a><span> / Доставка и оплата</span>
</div>
<div class="delivery">
  <div class="page_title"><h1>Доставка и оплата</h1></div>
  <h3>СТОИМОСТЬ ДОСТАВКИ ЦВЕТОВ ПО ТУЛЕ</h3>
  <h4>Курьерская доставка</h4>
  <ul>
    <li>c 9 утра до 20 часов – 250 руб.</li>
    <li>с 20 часов до 24 часов и с 7 часов до 9 часов – 300 руб.</li>
    <li>с 24 часа до 7 утра – 400 руб.</li>
    <li>
      *Доставка по области, по Ленинскому району, по всем поселкам (косая гора,
      горелки, октябрьский, скуратово и т.д. ) платная.
    </li>
  </ul>

  <div class="delivery__note">
    *Стоимость поездок в область зависит от расстояния и рассчитывается исходя
    из средней цены <b style="color: #333333">20 руб. за 1 км.</b>
  </div>

  <div class="delivery_quot">
    Наши курьеры по Туле работают круглосуточно по предварительным заказам.
    Поездки в область производятся в период с 8.00 до 23.00.
  </div>

  <p><br /></p>

  <h4>Самовывоз</h4>

  <ul>
    <li>
      Так же вы можете забрать свой заказ в нашем магазине, по адресу: г.Тула,
      ул. Проспект Ленина 54-б, павильон 1. Ежедневно с 8:00 до 22:30.
    </li>
  </ul>

  <div class="delivery_empty"></div>

  <h2>Оплата</h2>

  <h4>Оплата курьеру</h4>

  <ul>
    <li>
      Вы можете оплатить курьеру при получении букета (если сумма превышает 2000
      руб, то флорист может потребовать предоплату, а так же в случае подозрения
      на мошеннические действия)
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Оплата в Бутике</h4>

  <ul>
    <li>
      Вы можете оплатить свой заказа заранее в нашем бутике по адресу:
      <br />
      <b>г.Тула, ул. Проспект Ленина 54-б тц “Цветной Бульвар”, павильон 1</b>
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Оплата через Сбербанк онлайн</h4>

  <ul>
    <li>
      Один из самых быстрых и удобных способов оплаты. После того, как вы
      согласовали заказ с флористом и обсудили сумму заказа, вы можете его
      оплатить путем перевода на карту Сбербанка
      <b>4276-1609-2606-8926</b> карта на Илюшечкин А.Е.
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Оплата Яндекс Деньгами</h4>

  <ul>
    <li>
      Для оплаты заказа Яндекс Деньгами вам нужно сделать перевод на кошелек
      <b>№ 41001686167812</b>
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Оплата WebMoney</h4>

  <ul>
    <li>
      Для оплаты заказа WebMoney вам нужно сделать перевод на кошелек
      <b>№ R145639748411</b>
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Оплата через Сайт</h4>

  <ul>
    <li>
      Для удобства покупок на нашем сайте есть платежная система Robokassa,
      любой понравившиеся вам товар на нашем сайте вы можете добавить в корзину
      и пошагово оплатить.
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Денежные Переводы</h4>

  <ul>
    <li>
      Western Union, Юнистрим, Блиц, Золотая Корона<br />
      Реквизиты для перевода: <b>ILYUSHECHKIN ALEKSANDR г.Тула</b>
    </li>
  </ul>

  <div class="delivery_empty-2"></div>

  <h4>Онлайн оплата</h4>

  <div class="delivery__note pl-none">
    Maestro, Visa, Мир, Сбер Онлайн, Apple Pay, Google Pay, Яндекс.Деньги,
    WebMoney
  </div>

  <div class="row">
    <div class="col">
      <img class="mastercard" src="../../assets/payment-1.svg" alt="" />
    </div>
    <div class="col">
      <img class="visa" src="../../assets/payment-2.svg" alt="" />
    </div>
    <div class="col">
      <img class="mir" src="../../assets/payment-3.svg" alt="" />
    </div>
    <div class="col">
      <img class="sberbank" src="../../assets/payment-6.svg" alt="" />
    </div>
    <div class="col">
      <img class="aPay" src="../../assets/payment-4.svg" alt="" />
    </div>
    <div class="col">
      <img class="gPay" src="../../assets/payment-5.svg" alt="" />
    </div>
    <div class="col">
      <img class="yMoney" src="../../assets/payment-7.png" alt="" />
    </div>
    <div class="col">
      <img class="webMoney" src="../../assets/payment-8.svg" alt="" />
    </div>
  </div>

  <div class="delivery_contact">
    По Всем вопросам звоните
    <a class="header_button call" href="tel:8-953-422-80-00">8-953-422-80-00</a>
    Александр
  </div>
</div>
