<div class="shadow">
  <div class="header fixed top">
    <div class="container box">
      <div><a class="nav_contact" href="about">О нас</a></div>
      <div>
        <a class="nav_contact" href="javascript:void(0);">Фотогаллерея</a>
      </div>
      <div><a class="nav_contact" href="reviews">Отзывы</a></div>
      <div><a class="nav_contact" href="delivery">Доставка</a></div>
      <div><a class="nav_contact" href="contact">Контакты</a></div>
      <div class="fot_end">
        <div>
          <button class="header_button">
            <img id="search" src="../../../assets/search.svg" />
          </button>
        </div>
        <div>
          <button class="header_button">
            <img id="favorites" src="../../../assets/favorites.svg" />
          </button>
        </div>
        <div>
          <a class="header_button call">Заказать звонок</a>
        </div>
      </div>
    </div>

    <div class="border-top border-bottom">
      <div class="container">
        <div class="row" style="padding: 10px">
          <div class="col">
            <a class="disable-hover-border" href="/"
              ><img src="../../../assets/logo.svg"
            /></a>
          </div>
          <div class="col">
            <img src="../../../assets/call.svg" />
            Флорист: <br />
            <a class="nav-link" href="tel:89066241707"> 8 (906)624 17 07</a>
          </div>
          <div class="col">
            <img src="../../../assets/call.svg" />
            Доставка: <br />
            <a class="nav-link" href="tel:89066241707"> 8 (906)624 17 07</a>
          </div>
          <div class="col">
            <img src="../../../assets/time.svg" />
            Режим работы: <br />8:00 до 23:00
          </div>
          <div class="col">
            <img id="basket" src="../../../assets/basket3.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="header_nav_link d-flex">
        <li><a routerLink="/catalog/rose">РОЗЫ</a></li>
        <li><a routerLink="/catalog/all">ЦВЕТЫ</a></li>
        <li><a routerLink="/catalog/bouquet">БУКЕТЫ</a></li>
        <li><a routerLink="/catalog/basket">КОРЗИНЫ</a></li>
        <li><a routerLink="/catalog/composition">КОМПОЗИЦИИ</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown"> Подарки </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Мягкие игрушки</a></li>
            <li><a class="dropdown-item">Шары</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
